.filter-button {
  border: rgb(41, 190, 41) solid 2px;
  color: rgb(41, 190, 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 5%;
  padding: .8rem;
}

.plus-container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(41, 190, 41);
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {  font-size: 1rem;
  color: white;
}

.add-filter-text {
  font-size: 1.2rem;
}

.filter-button:hover{
  transform: scale(1.1);
}

.filter-button:active{
    transform: scale(0.8);
}

.view-container{
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.button-select-wrap{
  display: flex;
  padding: 1rem;
  padding-left: 0;
  height: 100px;
}

.button-select-wrap_select{
  margin-right: 2rem;
}
